spring:
  application:
    name: security
  datasource:
    url: "jdbc:mysql://localhost:3306/security?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul"
    username: root
    password: "0000"
    driverClassName: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  jwt:
    secret: around-hub-studio-flature-spring-boot-3!@#

